In [1]:
import pandas as pd
# pandas 는 numpy 기반으로 만들어졌지만, 좀 더 복잡한 데이터 분석에 특화되어 있다.
# s = pd.Series(seq_data)

In [2]:
# 연산 가능
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])
s1 + s2

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [5]:
# 데이터 프레임 생성
table_data1 = {'봄':[123.4,324.5,443.2,124.3],
               '여름':[545.3,323.5,645.4,343.3],
               '가을':[543.5,326.7,785.6,232.5],
               '겨울':[422.3,111.3,666.5,434.3]}
columns_list = ['봄', '여름', '가을', '겨울']
index_list = ['2017', '2018', '2019', '2020']

df1 = pd.DataFrame(table_data1, columns = columns_list, index = index_list)
df1

          봄     여름     가을     겨울
2017  123.4  545.3  543.5  422.3
2018  324.5  323.5  326.7  111.3
2019  443.2  645.4  785.6  666.5
2020  124.3  343.3  232.5  434.3

In [7]:
# df1의 값 구하기
df1.mean()

봄     253.850
여름    464.375
가을    472.075
겨울    408.600
dtype: float64

In [8]:
df1.sum()

봄     1015.4
여름    1857.5
가을    1888.3
겨울    1634.4
dtype: float64

In [9]:
df1.min()

봄     123.4
여름    323.5
가을    232.5
겨울    111.3
dtype: float64

In [10]:
df1.max()

봄     443.2
여름    645.4
가을    785.6
겨울    666.5
dtype: float64

In [11]:
df1.std()

봄     157.739500
여름    156.869189
가을    246.258352
겨울    227.850741
dtype: float64

In [12]:
df1.var()

봄     24881.750000
여름    24607.942500
가을    60643.175833
겨울    51915.960000
dtype: float64

In [13]:
# 연도별 강수량, 표준편차
# axis = 0 >>> 컬럼별 연산
# axis = 1 >>> 행별 연산
df1.mean(axis=1)

2017    408.625
2018    271.500
2019    635.175
2020    283.600
dtype: float64

In [14]:
df1.mean(axis=0)

봄     253.850
여름    464.375
가을    472.075
겨울    408.600
dtype: float64

In [15]:
# describe()
df1.describe()

              봄          여름          가을          겨울
count    4.0000    4.000000    4.000000    4.000000
mean   253.8500  464.375000  472.075000  408.600000
std    157.7395  156.869189  246.258352  227.850741
min    123.4000  323.500000  232.500000  111.300000
25%    124.0750  338.350000  303.150000  344.550000
50%    224.4000  444.300000  435.100000  428.300000
75%    354.1750  570.325000  604.025000  492.350000
max    443.2000  645.400000  785.600000  666.500000