In [1]:
# 파일 읽고 쓰기
# f = open('file_name', 'mode')
# r : 읽기 모드(기본 지정 모드)
# w : 쓰기 모드 (같은 이름 파일 있으면 예전 꺼 위에 덮어쓴다.)
# x : 쓰기 모드 (같은 이름 파일 있으면 오류 발생)
# a : 추가 모드로 파일 열기
# b : 바이너리 모드 파일 열기
# t : 텍스트 파일 모드로 파일 열기

# 파일을 열었으면 반드시 닫아야!
# f = open('파일명', '모드')
# f.write(str)
# f.close()

# with문의 활용
# with open('경로/파일명.확장자', '모드') as f:
#     f.write()
#     f.write()
# ...

In [4]:
# def : 함수()
a = "mandoo"
b = "chilly"

def my_cats():
    print("My first cat's name is: " ,a)
    print("My second is: " ,b)
    
my_cats() # >>> 함수 호출.

My first cat's name is:  mandoo
My second is:  chilly

In [9]:
# 계산기

x = int(input("x: "))
y = int(input("y: "))

def add(x,y):
    z = x + y
    return z
def sub(x,y):
    z = x - y
    return z
def mul(x,y):
    z = x * y
    return z
def div(x,y):
    z = x / y
    return z

def my_cal():
    print(add(x,y))
    print(sub(x,y))
    print(mul(x,y))
    print(div(x,y))

my_cal()

x: 10
y: 2
12
8
20
5.0

In [11]:
# 람다식
# lambda <argument> : <code>
(lambda x : x**2) (3)

9

In [13]:
mylamb = lambda x : x**2
mylamb(3)

9

In [14]:
mylamb(10)

100

In [15]:
mycode = lambda x,y,z : 2*x + 3*y + z
mycode(1,2,3)

11

In [16]:
# split()
# 문자열 분리 함수
str = "아,메,리,카,노"
print(str)
str_s = str.split(',')
print(str_s)

아,메,리,카,노
['아', '메', '리', '카', '노']

In [17]:
a = "a#fkdjfoji!3nc@kdlfjk@kdflkfj@3dkj,fkj!"
b = a.split('@')
print(b)

['a#fkdjfoji!3nc', 'kdlfjk', 'kdflkfj', '3dkj,fkj!']

In [23]:
# strip()
# 문자열 삭제
a = "aaaaPythonhello"
print(a.strip('a'))

b = "aaafkdkaafkjldiaa"
print(b.strip('a'))
# >>> a의 위치와 상관없이 모든 a 제거

c = "aaahellobbbgoodababbabmorning"
print(c.strip('ab'))
# >>> c 의 앞뒤 ab 제거
# >>> 중간의 ab는 삭제x

Pythonhello
fkdkaafkjldi
hellobbbgoodababbabmorning

In [25]:
# strip() : left, right
# lstrip()
# rstrip()
a = "aaaahelloaaaa"
print(a.lstrip('a')) # >>> 왼쪽 a 제거
print(a.rstrip('a')) # >>> 오른쪽 a 제거

helloaaaa
aaaahello

In [26]:
# replace()
a = "java is fun"
print(a.replace('java', 'python'))

python is fun

In [28]:
# lower()
# upper()
a = "python is fun"
print(a.upper())

b = "PYTHON IS FUN"
print(b.lower())

PYTHON IS FUN
python is fun

In [35]:
# module
# import 모듈명
import datetime

set_day = datetime.date(2021,4,29)
print(set_day)
print(datetime.date.today())
print(datetime.datetime.now())

2021-04-29
2021-04-29
2021-04-29 14:23:58.456927

In [36]:
import calendar

print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [37]:
print(calendar.month(2021,10))

    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [40]:
# 윤년 확인하기
print(calendar.isleap(2021))
# >>> False
print(calendar.month(2021,4))
# >>> 2021' 4 월은 윤년이 x

False
     April 2021
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30