In [1]:
# 데이터 타입
# 리스트
# 데이터를 묶어서 관리할 때
# []
a = []
type(a)

list

In [11]:
a = [1,4,1.4,"hi",'s']
print(a)

[1, 4, 1.4, 'hi', 's']

In [19]:
# list 연결
a = [1,2,3,4,5]
b = [2,5,3,6,2]
c = a + b
print(c)

[1, 2, 3, 4, 5, 2, 5, 3, 6, 2]

In [20]:
py = [1,2,3,4,5]
a = py[1]
b = py[4]
print(a)
print(b)

2
5

In [21]:
str = ["python", "is", "fun"]
print(str)
type(str)

['python', 'is', 'fun']

list

In [22]:
# list 반복
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
# list의 인덱스
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[0])
print(a[8])
print(a[:3])
print(a[3:7])
print(a[:8])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
9
[1, 2, 3]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
# 리스트 삭제
a = [1,2,3,4,5]
print(a)
print(3 in a)
del a[2]
print(a)
print(3 in a)

[1, 2, 3, 4, 5]
True
[1, 2, 4, 5]
False

In [30]:
# 리스트의 메소드
# append()
a = ['hi', 'hello', 'bye']
print(a)
a.append('goodmorning') # <<< 리스트의 맨 끝에 추가
print(a)

['hi', 'hello', 'bye']
['hi', 'hello', 'bye', 'goodmorning']

In [31]:
# insert()
a = [1,2,4,5,6]
print(a)
a.insert(2,3) # <<< index 2 에 3을 삽입
print(a)

[1, 2, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [33]:
# extend()
a = ['python', 'r', 'sql', 'java']
print(a)
a.extend(['big','data']) # <<< 리스트의 맨 끝에 여러 개 추가
print(a)

['python', 'r', 'sql', 'java']
['python', 'r', 'sql', 'java', 'big', 'data']

In [34]:
# 튜플
# tuple
# ()
# ,
a = (1,2,3,4,5)
print(a)
type(a)

(1, 2, 3, 4, 5)

tuple

In [36]:
# 튜플 연결
a = (1,2,3,4,5)
b = (3,2,4,2,6)
c = a+b
print(c)

(1, 2, 3, 4, 5, 3, 2, 4, 2, 6)

In [40]:
# 튜플은 요소를 변경하거나 삭제할 수 없다.
# 리스트와 다른 점.
a = (1,2,3,4,5)
del a[1]

TypeError: 'tuple' object doesn't support item deletion

In [41]:
# tuple index
a = (1,2,3,4,5)
a.index(1) # >>> 0 : 첫번째 인덱스

0

In [42]:
# 특정 인자와 일치하는 항목의 개수
a = (1,1,1,1,4,2,5,5,5,3)
a.count(1) # >>> 4 : 1 이 4 개

4

In [43]:
# 세트
# Set
# 데이터 중복 불가
# 튜플과 다른 점.
# {}
a = {1,2,3,4,5}
type(a)

set

In [45]:
a = {1,2,3,4,5}
b = {1,2,3,4,5,5}
print(a)
print(b) # >>> 중복된 5는 삭제되고 1,2,3,4,5로 출력

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [48]:
a = {1,2,3,4,5}
b = {4,5,6,7,8,9,10}
print(a)
print(b)
# 교집합
print(a.intersection(b))
print(a & b)

# 합집합
print(a.union(b))
print(a | b)

# 차집합
print(a.difference(b))
print(a-b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9, 10}
{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}
{1, 2, 3}

In [50]:
# 리스트, 튜플, 세트간 변환
a = [1,2,3,4,5]
print(type(a))

b = tuple(a)
print(type(b))

c = set(a)
print(type(c))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [57]:
# 딕셔너리
# dictionary
# key and value
# {}
# :
# {a:b, c:d}
a = {"영국":"런던", "한국":"서울", "북한":"평양", "프랑스":"파리", "호주":"캔버라"}
print(a)
print(type(a))
# >>> 딕셔너리는 순서 x but, python 3.6부터는 순서대로 출력된다.

# key -> value 읽기
print(a["영국"])
# >>> 인덱스가 아니라, 키를 의미한다.

{'영국': '런던', '한국': '서울', '북한': '평양', '프랑스': '파리', '호주': '캔버라'}
<class 'dict'>
런던

In [61]:
# 딕셔너리 데이터 추가
a = {"영국":"런던", "한국":"서울", "북한":"평양", "프랑스":"파리", "호주":"캔버라"}
print(a)

a["독일"] = "베를린"
print(a)

# 수정
a["한국"] = "seoul"
print(a)

# 삭제
del a["영국"]
print(a)

{'영국': '런던', '한국': '서울', '북한': '평양', '프랑스': '파리', '호주': '캔버라'}
{'영국': '런던', '한국': '서울', '북한': '평양', '프랑스': '파리', '호주': '캔버라', '독일': '베를린'}
{'영국': '런던', '한국': 'seoul', '북한': '평양', '프랑스': '파리', '호주': '캔버라', '독일': '베를린'}
{'한국': 'seoul', '북한': '평양', '프랑스': '파리', '호주': '캔버라', '독일': '베를린'}

In [65]:
# 딕셔너리 메서드
fruit = {"apple":1, "banana":2, "strawberry":3, "mango":4}
print(fruit)

# keys()
print(fruit.keys())
print(type(fruit.keys()))
# >>> key 만 출력

# values()
print(fruit.values())
print(type(fruit.values()))
# 값만 출력

# items()
print(fruit.items())
print(type(fruit.items()))
# 키,값의 쌍을 출력

# 추가
fruit2 = {"orange":5}
print(fruit2)

fruit.update(fruit2)
print(fruit)

# 빈 딕셔너리 만들기
fruit.clear()
print(fruit)
# >>> {} : 깡통 딕셔너리 됨!

{'apple': 1, 'banana': 2, 'strawberry': 3, 'mango': 4}
dict_keys(['apple', 'banana', 'strawberry', 'mango'])
<class 'dict_keys'>
dict_values([1, 2, 3, 4])
<class 'dict_values'>
dict_items([('apple', 1), ('banana', 2), ('strawberry', 3), ('mango', 4)])
<class 'dict_items'>
{'orange': 5}
{'apple': 1, 'banana': 2, 'strawberry': 3, 'mango': 4, 'orange': 5}
{}